* text=auto !eol
dep/New[!!-~]Text[!!-~]Document[!!-~]-[!!-~]Copy[!!-~](2).txt -text
dep/New[!!-~]Text[!!-~]Document[!!-~]-[!!-~]Copy[!!-~](3).txt -text
dep/New[!!-~]Text[!!-~]Document[!!-~]-[!!-~]Copy[!!-~](4).txt -text
dep/New[!!-~]Text[!!-~]Document[!!-~]-[!!-~]Copy.txt -text
dep/New[!!-~]Text[!!-~]Document.txt -text
